// global.scss
@font-face {
  font-family: "FiraCode-Bold";
  src: url("../assets/fonts/FiraCode-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "FiraCode-Light";
  src: url("../assets/fonts/FiraCode-Light.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode-Medium";
  src: url("../assets/fonts/FiraCode-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "FiraCode-Regular";
  src: url("../assets/fonts/FiraCode-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraCode-SemiBold";
  src: url("../assets/fonts/FiraCode-SemiBold.ttf") format("truetype");
}
